
*.dll
*.pdb
*.targets
*.props
*.cache
*.CopyComplete
*.editorconfig
*.txt
*.sentinel
Services/Catalog/Catalog.API/bin/Debug/net6.0/Catalog.API.deps.json
Services/Catalog/Catalog.API/bin/Debug/net6.0/appsettings.Development.json
Services/Catalog/Catalog.API/bin/Debug/net6.0/appsettings.json
Services/Catalog/Catalog.API/bin/Debug/net6.0/Catalog.API
Services/Catalog/Catalog.API/bin/Debug/net6.0/Catalog.API.runtimeconfig.json
Services/Catalog/Catalog.API/obj/Catalog.API.csproj.nuget.dgspec.json
Services/Catalog/Catalog.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Services/Catalog/Catalog.API/obj/Debug/net6.0/apphost
Services/Catalog/Catalog.API/obj/Debug/net6.0/Catalog.API.AssemblyInfo.cs
Services/Catalog/Catalog.API/obj/Debug/net6.0/Catalog.API.GlobalUsings.g.cs
Services/Catalog/Catalog.API/obj/Debug/net6.0/Catalog.API.MvcApplicationPartsAssemblyInfo.cs
Services/Catalog/Catalog.API/obj/Debug/net6.0/project.razor.json
Services/Catalog/Catalog.API/obj/Debug/net6.0/staticwebassets.build.json
Services/Catalog/Catalog.API/obj/project.assets.json
